@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.newsletter{
    background-image: linear-gradient(to bottom right, rgb(209, 15, 209), rgb(63, 2, 99));
    padding: 80px;
    p{
      color: white;
      font-weight: bold;
    }
    .newsletter-form{
      width: 400px;
      margin: auto;
      .btn{
        color: white;
        font-weight: bold;
        border: 2px solid rgb(179, 8, 179);
        // border-radius: 10px !important;
        
      }
      .btn:hover{
        background-color: purple;
      }
      .btn:focus{
        box-shadow: 0 0 0 0.2rem purple !important;
      }
      input{
        
        border: 2px solid rgb(179, 8, 179);;
        // border-radius: 10px !important;
        
      }
      
      input:focus{
        box-shadow: 0 0 0 0.2rem purple !important;
      }
    }
  
  
    @media (max-width: 480px){
      .newsletter-form{
        width: 280px;
        margin-left: -10px;
        input{
          height: 30px;
          width: 150px;
        }
        .btn{
          font-weight: 400;
          height: 30px;
          padding: 0 3px !important;
        }
      }
    }
  
    @media (min-width: 1024px){
      p{
        font-size: 25px;
      }
      .newsletter-form{
        width: 700px;
      }
    }
      
    
  }
  